{% extends "base.html" %}
{% block title %}Quiz{% endblock %}

{% block content %}
<!-- notes -->
<h1 align="center" style="margin-top: 100px;">Question:</h1>
<div align="center" style="height: 400px; width: 1100px">
  <!-- img -->
  <br>
  <h2>{{quiz_ques}}
  </h2>
  <style>
    /* The container */
    .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
      background-color: #ccc;
    }
    
    /* When the radio button is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #2196F3;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
    </style>
    
    <label class="container">{{op1}}
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">{{op2}}
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">{{op3}}
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">{{op4}}
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <a href="/quiz1"><button type="submit" class="btn btn-primary btn-lg">Submit</button></a> 
    <br><br>

    <a href="/result"><button type="submit" class="btn btn-primary btn-lg">Finish</button></a>   
</div>
</div>

{% endblock %}